.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf") format("ttf");
  font-style: normal;
  font-weight: 100;
}
body {
  font-family: "Montserrat", sans-serif, "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  max-width: 1400px;
  min-width: 768px;
}
a {
  text-decoration: none;
  color: inherit;
}
.page-header {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.page-header__logo-link {
  font-size: 30px;
}
.main-nav {
  font-size: 10px;
  line-height: 7px;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-list__item {
  margin-left: 35px;
}
.site-list__item:hover {
  text-decoration: underline;
}
.site-list__item--active {
  color: #ffe26d;
}
.promo {
  padding-bottom: 285px;
  color: #ffffff;
  position: static;
  z-index: 1;
}
.promo__item {
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-top: 85px;
}
.promo__slogan {
  font-size: 40px;
  line-height: 50px;
  width: 70%;
  margin: 0;
}
.promo__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  display: block;
  font-size: 19px;
  line-height: 20px;
  width: 65%;
  padding: 30px 0;
  padding-bottom: 40px;
}
.promo__link {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffe26d;
  color: #000000;
  padding: 17px 23px;
  width: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border-radius: 5px;
}
.promo__link:hover {
  background-color: #62497c;
  color: #ffffff;
}
.promo::before {
  content: '';
  background-image: url(../img/mountains-background.jpg);
  background-position: top;
  background-color: #41516a;
  background-size: 100% 692px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  display: block;
  top: 0;
  width: 100%;
  min-width: 768px;
  height: 692px;
}
.welcome {
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-top: 60px;
}
.welcome__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  padding-bottom: 55px;
}
.welcome__description {
  font-family: "Roboto", sans-serif, "Arial", sans-serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 97%;
  padding-top: 20px;
  margin: 0;
  margin-bottom: 50px;
}
.welcome__description::after {
  content: '';
  background-image: url(../img/umbrella-icon.svg);
  background-size: 195px 195px;
  background-repeat: no-repeat;
  min-width: 195px;
  min-height: 200px;
  display: inline-block;
  margin-top: -20px;
}
.description-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 58px;
  border-bottom: 2px solid #e7e7e7;
}
.description-list__header {
  text-transform: uppercase;
  font-size: 15px;
  color: #62497c;
  line-height: 40px;
  padding-top: 100px;
  position: relative;
  text-align: center;
}
.description-list__item {
  text-align: center;
  font-size: 13px;
  line-height: 23px;
  width: 22%;
  position: relative;
}
.description-list__icon::before {
  content: '';
  position: absolute;
  background-color: #62497c;
  border: 40px solid #62497c;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 40px;
  z-index: -1;
}
.description-list__icon::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 80px;
  min-height: 80px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.description-list__icon--bell::after {
  background-image: url(../img/bell-icon.svg);
}
.description-list__icon--letter::after {
  background-image: url(../img/letter-icon.svg);
}
.description-list__icon--drawer::after {
  background-image: url(../img/drawer-icon.svg);
}
.description-list__text {
  margin-bottom: 35px;
}
.description-list__more {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffe26d;
  color: #000000;
  padding: 17px 23px;
  width: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.description-list__more:hover {
  background-color: #62497c;
  color: #ffffff;
}
.projects__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 47px;
}
.projects__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.projects-item {
  background-color: #efefef;
  cursor: pointer;
}
.projects-item:nth-child(even) {
  background-color: #e2e2e2;
}
.projects-item:hover {
  background-color: #ffe26d;
}
.projects-item:hover .projects-item__study-button {
  background-color: #62497c;
  color: #ffffff;
}
.projects-item__header {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 40px;
  margin: 0;
}
.projects-item__wrapper {
  padding: 45px 35px 45px 45px;
}
.projects-item__text {
  margin: 0;
  padding: 17px 0;
  font-size: 13px;
}
.projects-item__study-button {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffe26d;
  color: #000000;
  padding: 17px 23px;
  width: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
}
.projects-item__study-button:hover {
  background-color: #62497c;
  color: #ffffff;
}
.projects-item img {
  width: 100%;
}
.pricing {
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.pricing__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  margin-top: 85px;
  margin-bottom: 50px;
}
.pricing__table {
  width: 100%;
  text-align: center;
}
.table {
  margin-bottom: 85px;
}
.table__header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.table__header td {
  min-height: 40px;
  padding-bottom: 20px;
}
.table__cost {
  color: #cecece;
}
.table__cost td {
  padding-bottom: 15px;
}
.table__advantages {
  font-size: 10px;
  font-family: "Arial", sans-serif;
  border: none;
}
.table__advantages td {
  padding-bottom: 10px;
}
.table__button td {
  padding-top: 10px;
}
.table__button button {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffe26d;
  color: #000000;
  padding: 17px 23px;
  width: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}
.table__button button:hover {
  background-color: #62497c;
  color: #ffffff;
}
.video {
  background-color: #62497c;
  color: #ffffff;
  padding-top: 85px;
  padding-bottom: 115px;
}
.video__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}
.video__block {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  min-height: 490px;
  overflow: hidden;
}
.video__frame {
  width: 670px;
  position: absolute;
}
.video__frame--left {
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.video__frame--center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.video__frame--right {
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.team {
  padding-top: 75px;
  padding-bottom: 75px;
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}
.team__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}
.team__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
}
.team-list {
  font-size: 15px;
}
.team-list__avatar {
  width: 175px;
}
.team-list__name {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}
.team-list__post {
  color: #818181;
  font-weight: 500;
  text-align: center;
  margin-bottom: 65px;
}
.zippy-life {
  background-color: #efefef;
  padding-top: 80px;
}
.zippy-life__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}
.zippy-life__slider-wrapper {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 110px;
}
.zippy-life__slider-wrapper img {
  display: block;
  margin: 0 auto;
}
.zippy-life__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 694px;
  margin: 0 auto;
  padding-top: 15px;
}
.zippy-life__slider-block {
  width: 606px;
  overflow: hidden;
}
.zippy-life__slider-line {
  width: 885px;
  height: 69px;
  position: relative;
  left: 0px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.zippy-life__slider-line img {
  float: left;
  margin-right: 15px;
}
.zippy-life__slider-line::after {
  content: '';
  display: block;
  clear: both;
}
.zippy-life__slider-button {
  width: 30px;
  border: none;
  z-index: 2;
  cursor: pointer;
}
.zippy-life__slider-button:hover {
  background-color: #62497c;
}
.zippy-life__slider-button--left::after,
.zippy-life__slider-button--right::after {
  content: '';
  background-image: url('../img/Left Arrow@1x.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 10px;
  min-width: 10px;
  min-height: 15px;
  display: block;
}
.zippy-life__slider-button--left::after {
  background-image: url('../img/Left Arrow@1x.svg');
}
.zippy-life__slider-button--right::after {
  background-image: url('../img/Right Arrow@1x.svg');
}
.zippy-life-news {
  background-image: url('../img/Image@1x-bridge.jpg');
  background-size: auto 330px;
  background-position: top;
  padding-top: 60px;
  padding-bottom: 145px;
}
.zippy-life-news__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  color: #ffffff;
}
.zippy-life-news__form {
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 545px;
}
.zippy-life-news__input {
  min-height: 55px;
  border: none;
  width: 415px;
  font-size: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}
.zippy-life-news__button {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffe26d;
  color: #000000;
  padding: 17px 23px;
  width: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.zippy-life-news__button:hover {
  background-color: #62497c;
  color: #ffffff;
}
.blog {
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 90px;
}
.blog__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
}
.blog__list {
  list-style: none;
  padding: 0;
  padding-top: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__item {
  width: 208px;
}
.blog__item-header {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 40px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}
.blog time {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 23px;
  color: #818181;
  display: block;
  text-align: center;
  margin: 20px 0;
}
.blog__text {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 30px;
}
.blog__button {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffe26d;
  color: #000000;
  padding: 17px 23px;
  width: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.blog__button:hover {
  background-color: #62497c;
  color: #ffffff;
}
.contact {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffe26d;
}
.contact__map {
  width: 50%;
}
.contact__wrapper {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 40px;
}
.contact__header {
  font-size: 44px;
  line-height: 40px;
  text-align: center;
  margin: 0;
  text-align: left;
}
.contact__form {
  padding-top: 30px;
  width: 310px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__label {
  width: 100%;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__label input,
.contact__label textarea {
  width: 100%;
  padding: 10px;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.contact__button {
  display: inline-block;
  text-transform: uppercase;
  background-color: #ffe26d;
  color: #000000;
  padding: 17px 23px;
  width: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #62497c;
  border-radius: 0;
  width: 100%;
  color: #ffffff;
}
.contact__button:hover {
  background-color: #62497c;
  color: #ffffff;
}
.page-footer__wrapper {
  max-width: 708px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 125px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__header {
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
}
.page-footer__location,
.page-footer__contacts {
  width: 150px;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  font-family: Arial;
}
.social__list {
  list-style: none;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 130px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social__item {
  width: 33%;
  text-align: center;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
}
.social__item svg {
  padding: 0 5px;
}
.social__item:hover svg {
  fill: #62497c;
}

/*# sourceMappingURL=style.css.map */
